.about-me {
  padding: 3rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  h1,
  h2,
  p {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
    margin: 3rem 0 1rem 0;
  }
  p {
    font-size: 1.5rem;
  }
}
