html,
body,
#root,
.App {
  scroll-behavior: smooth;
  position: relative;

  font-family: "Unifont", monospace;

  //todo: after the nth time reworking the styling in this page, the old classifications make no sense, i really need to re-do all the css variables here
  --header-height: 5rem;
  --header-color: #202020;
  --bg-color: black;
  --text-color: whitesmoke;
  --text-color-opaque: #9898a0;
  --focus-color: #00b4d8;
  --font-family-retro: "Unifont", monospace; //apparently i need to define this here even if its already the default in the page

  //dont want overflows in this part, instead we want them to be restricted to the sections of content themselves
  overflow: hidden;
}

.take-remaining-space-in-page {
  /*
    There once was a bug here, where 2 extra vh would come outta nowhere.
    Said bug occured because, in true dumbass fashion, i forgot to set the height of the header to the --header-height.

    c'est la vie. Anyways, fixed!
  */
  height: calc(100vh - var(--header-height));
  box-sizing: border-box;
  overflow: auto;
}
