html,
body,
#root,
.App {
  scroll-behavior: smooth;
  position: relative;

  font-family: "Unifont", monospace;

  --header-height: 4rem;
  --header-color: #202020;
  --bg-color: black;
  --text-color: whitesmoke;
  --text-color-opaque: #9898a0;

  --focus-color: #00b4d8;
  --font-family-retro: "Unifont", monospace; //apparently i need to define this here even if its already the default in the page
}
