.header {
  position: sticky;
  z-index: 1;
  top: 0;

  /* the -0.1rem is bc of the border bottom */
  line-height: calc(var(--header-height) - 0.1rem);
  padding: 0 1rem;

  background-color: var(--header-color);
  color: var(--text-color);

  border-bottom: 0.1rem solid var(--text-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .header-button {
  min-width: fit-content;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  font-size: 1rem;
  font-family: var(--font-family-retro);
  &:focus,
  &:focus-visible {
    opacity: 1;
    cursor: pointer;
    pointer-events: unset;
  }
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 3rem;
}

.header-link,
.header-title {
  color: inherit;
  min-width: fit-content;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  transition: outline-offset 0.1s ease;
  padding: 0.5rem;
  text-decoration: none;
  &:hover,
  &:focus,
  &:focus-visible {
    outline: 1px solid white;
    outline-offset: -0.25rem;
    color: white;
  }
  &:active {
    outline-offset: -0.5rem;
    outline: 1px solid white;
    color: white;
  }
}

.header-title {
  font-size: 3rem;
}

.header-button {
  color: inherit;
  transition: outline-offset 0.1s ease;
  padding: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus,
  &:focus-visible {
    outline: 1px solid white;
    outline-offset: -0.25rem;
    color: white;
  }
  &:active {
    outline-offset: -0.5rem;
    outline: 1px solid white;
    color: white;
  }
}
