.header {
  position: static;
  z-index: 1;
  top: 0;

  padding: 0 1rem;

  height: var(--header-height);
  box-sizing: border-box;

  background-color: var(--header-color);
  color: var(--text-color);

  border-bottom: 0.1rem solid var(--text-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  /*
    Things to improve on really small screens (aka mobile)
      -1 move the skip nav to a fixed position on the screen
      -2 use JS to remove the render of the hire me button as soon as an overflow is detected

    will probably be part of the overhaul whenever i get around making this a react-native project, as i'll need it for mobile support anyways.
  */
  overflow-x: auto;
}

.header-title {
  color: inherit;
  min-width: fit-content;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  transition: outline-offset 0.1s ease;
  padding: 0.5rem;
  text-decoration: none;
  font-size: clamp(2rem, 6vw, 3rem);
  &:hover,
  &:focus,
  &:focus-visible {
    outline: 0.1rem solid white;
    outline-offset: -0.25rem;
    color: white;
  }
  &:active {
    outline-offset: -0.5rem;
    outline: 0.1rem solid white;
    color: white;
  }
}

.header-nav {
  position: absolute;
  right: 1rem;
  top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  box-sizing: border-box;
  padding: 1.5rem;
  background-color: var(--header-color);
  border: 0.1rem solid var(--text-color);

  z-index: 1;
}

.header-button {
  /*
    Thanks to Jiro for the new button design: 
    https://codepen.io/version1/pen/zYvWYEB
  */

  --button-color: black;
  --button-color-focus: var(--header-color);
  --shadow-color: black;

  width: 16rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: var(--font-family-retro);
  cursor: pointer;
  display: block;
  color: white;
  border: 0.1rem solid white;
  outline: 0.1rem solid white;
  box-sizing: border-box;
  border-radius: 0.3rem;
  text-align: center;
  transition: box-shadow ease 0.1s, transform ease 0.05s;
  box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem var(--button-color),
    0px 0.125rem 0.1rem 2px var(--shadow-color);
  background-color: var(--button-color);

  /* a tag overrides, as we're using this for <button> and <a> */
  text-decoration: none;
  &:hover,
  &:focus,
  &:focus-visible {
    outline: 0.125rem solid white;
    background-color: var(--button-color-focus);
    //this lines is what creates that cool double border effect
    outline-offset: 0.125rem;
  }
  &:active {
    opacity: 0.8;
    transform: translateY(0.2rem);
    box-shadow: 0px 0px 0px 0px var(--button-color-focus);
  }
}

.header-button.header-open-navigation-button {
  height: 3.5rem;
  width: 4rem;
}

.header-button.hire-me-quick-access-button {
  height: 3.5rem;
  min-width: max-content;
  width: max-content;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
}

.header-button.header-open-navigation-button,
.header-button.hire-me-quick-access-button,
.header-button.hidden-button {
  font-size: clamp(1rem, 3vw, 1.4rem);
}

.header-button.header-close-navigation-button {
  margin-bottom: 1rem;

  --button-color: rgb(204, 0, 0);
  --button-color-focus: rgba(204, 0, 0, 0.664);
}

.header-button.hidden-button {
  min-width: min-content;
  opacity: 0;
  margin: 0 auto 0 1rem;
  cursor: default;
  pointer-events: none;
  &:focus,
  &:focus-visible {
    opacity: 1;
    cursor: pointer;
    pointer-events: unset;
  }
}

.header-button:disabled {
  background-color: var(--header-color);
  color: var(--text-color-opaque);
  box-shadow: none;
  border-color: gray;
  outline: none;
  cursor: default;
}
