.header {
  position: sticky;
  z-index: 1;
  top: 0;

  /* the -0.1rem is bc of the border bottom */
  line-height: calc(var(--header-height) - 0.1rem);
  padding: 0 1rem;

  background-color: var(--header-color);
  color: var(--text-color);

  border-bottom: 0.1rem solid var(--text-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .header-button.hidden-button {
  min-width: fit-content;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  &:focus,
  &:focus-visible {
    opacity: 1;
    cursor: pointer;
    pointer-events: unset;
  }
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 3rem;
}

.header-link,
.header-title {
  color: inherit;
  min-width: fit-content;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  transition: outline-offset 0.1s ease;
  padding: 0.5rem;
  text-decoration: none;
  &:hover,
  &:focus,
  &:focus-visible {
    outline: 1px solid white;
    outline-offset: -0.25rem;
    color: white;
  }
  &:active {
    outline-offset: -0.5rem;
    outline: 1px solid white;
    color: white;
  }
}

.header-title {
  font-size: 3rem;
}

.header-button {
  /*
    Thanks to Jiro for the new button design: 
    https://codepen.io/version1/pen/zYvWYEB
  */

  --button-color: black;
  --shadow-color: black;

  width: 16rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: var(--font-family-retro);
  cursor: pointer;
  display: block;
  color: white;
  border-radius: 4px;
  text-align: center;
  transition: box-shadow ease 0.1s;
  box-shadow: 1px 4px 1px 1px var(--header-color),
    0px 6px 1px 2px var(--shadow-color);
  background-color: var(--button-color);
  &:hover,
  &:focus,
  &:focus-visible {
    outline: 1px solid white;
    background-color: var(--header-color);
  }
  &:active {
    opacity: 0.8;
    transform: translateY(4px);
    box-shadow: 0px 0px 0px 0px var(--shadow-color);
  }
}
