.homepage {
  background-color: var(--bg-color);
  height: calc(100vh - var(--header-height));
  box-sizing: border-box; //makes padding and margin respect the height, rather than the hei
  display: grid;
  grid-template-areas: "searchbar text" "links text";
  grid-template-columns: 40vw 1fr;
  padding: 5vw;
  gap: 2rem;
  grid-template-rows: min-content 1fr;
}

.homepage-title {
  grid-area: text;
  outline: 0.5rem solid var(--text-color-opaque);
  padding: 1rem;
  box-sizing: border-box;
}

.homepage-search-form {
  width: 100%;
  grid-area: searchbar;
  /* 
    position relative to allow us to make the submit button absolute and move it
    relative to this box rather than the document 
  */
  position: relative;
  font-family: var(--font-family-retro);
}

.homepage-searchbar {
  /*
  how to add icon on background (doesnt work): 
  background: rgba(66, 65, 77, 1)
    url(moz-extension://27196980-0a49-4485-9145-136deea99286/favicon.ico) 16px
    center no-repeat;
  */
  background-color: rgba(66, 65, 77, 1);
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 1rem 4.5rem 1rem 1rem;
  border: 1px solid transparent;
  outline: 0.5rem solid var(--text-color-opaque);
  color: var(--text-color-opaque);
  font-size: 2rem;
  box-sizing: border-box;
  transition: 0.1s ease;
  font-family: var(--font-family-retro);
  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within {
    color: var(--text-color);
    outline-color: var(--text-color);
  }
}
.homepage-search-submit {
  --square-size: 3rem;
  width: var(--square-size);
  height: var(--square-size);
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
  top: calc(
    var(--square-size) / 3
  ); // yes, i did the var mostly just for this... unnecesary
  right: calc(var(--square-size) / 3);
  margin: 0;
  padding: 0;
  pointer-events: none;
  transition: 0.1s ease;
  display: grid;
  align-content: center;
  svg {
    color: #9898a0;
    width: inherit;
    height: inherit;
    // filter: grayscale(30%); //original color is a little too strong
  }
}

.homepage-list-of-links {
  grid-area: links;
  list-style: none;
  margin: 0;
  padding: 0;
  /* TODO: change it to use a dynamic grid with autofit, so it aligns perfectly with the searchbar, if possible */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
