.homepage {
  background-color: var(--bg-color);
  height: calc(100vh - var(--header-height));
  box-sizing: border-box; //makes padding and margin respect the height, rather than the hei
  display: grid;
  grid-template-areas: "searchbar searchbar" "links .";
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  padding: 5vw;
  gap: 2rem;
}

.homepage-search-form {
  width: 50%;
  grid-area: searchbar;
  /* 
    position relative to allow us to make the submit button absolute and move it
    relative to this box rather than the document 
  */
  position: relative;
  transition: 0.5s ease;
  &:focus-within {
    width: 100%;
  }
}

.homepage-searchbar {
  background-color: var(--header-color);
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 1rem 4.5rem 1rem 1rem;
  border: 1px solid transparent;
  outline: 0.1rem solid var(--text-color);
  color: var(--text-color);
  font-size: 2rem;
  box-sizing: border-box;
  transition: 0.1s ease;
  font-family: var(--font-family-retro);
  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within {
    outline-width: 0.5rem;
  }
}
.homepage-search-submit {
  --square-size: 3rem;
  width: var(--square-size);
  height: var(--square-size);
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
  top: calc(
    var(--square-size) / 3
  ); // yes, i did the var mostly just for this calc... unnecesary
  right: calc(var(--square-size) / 3);
  margin: 0;
  padding: 0;
  pointer-events: none;
  transition: 0.1s ease;
  display: grid;
  align-content: center;
  svg {
    color: #9898a0;
    width: inherit;
    height: inherit;
    // filter: grayscale(30%); //original color is a little too strong
  }
}

.homepage-list-of-links {
  grid-area: links;
  list-style: none;
  margin: 0;
  padding: 0;
  /* TODO: change it to use a dynamic grid with autofit, so it aligns perfectly with the searchbar, if possible */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
