.homepage-link-card-container {
  .homepage-link-card {
    --pseudoelem-content: "";
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    background-color: var(--header-color);
    outline: 0.1rem solid var(--text-color);
    color: var(--text-color);
    transition: 0.1s ease;
    text-decoration: none;
    cursor: pointer;
    svg {
      height: inherit;
      aspect-ratio: 1;
    }
    &::after {
      content: attr(data-pseudoelem-content);
      position: absolute;
      font-size: 0;
      color: var(--text-color);
      left: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within {
    .homepage-link-card {
      outline-width: 0.5rem;
      transform: translate3d(0px, -0.5rem, 0px);
      padding: 0.5rem 1rem 1.5rem 1rem;
      &::after {
        font-size: 0.8rem;
      }
      /*
        Note: this will only work on clicks. Cant make it work easily onEnter
        https://stackoverflow.com/questions/32467397/how-to-trigger-the-active-pseudoclass-on-keyboard-enter-press-using-only-cs
        i could try to make it work, but i've decided the added complexity isnt worth it.
        */
      &:active {
        transform: translate3d(0px, 0px, 0px);
      }
    }
  }
}
