.the-fun-box {
  grid-area: fun-box;

  height: 100%;
  color: var(--text-color);
  font-size: 2rem;
  padding: 2rem;
  display: grid;
  align-content: center;
  justify-content: center;
  transition: 0.8s ease;
}
