.the-fun-box {
  grid-area: fun-box;

  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 2rem;
  display: grid;
  transition: 0.8s ease;
  position: relative;
}

//TODO: i dont remember the logic that made me create this selector, but i should double check it and simplify it
.the-fun-box.the-fun-box-align-center {
  align-content: center;
  justify-content: center;
}

/*
  You might think that these names are too long for a css selector and i should shorten them. 
  Something like .cheatsheet

  And, if the world was a perfect place, i would agree. 

  Unfortunately, the world includes many third packages that dont properly scope their classes in a realistic work enviroment. 
  Not to mention the fact that on large projects, it can be near impossible to know if anywhere else in the page there is another class of an equal name. 
  
  I'd rather have very long and incredibly specific selectors, to guarantee that the css i write is contained where it needs to be contained.

  (yes i am fully aware that i am making this project with the specific intent of avoiding any extra libraries. Its just common practice for me)
*/

.tfb-cheatsheet {
  height: min-content;
  font-size: 1.5rem;
}

.tfb-cheatsheet-decription {
  font-size: 1.2rem;
  max-width: 70ch;
  line-height: 2rem;
  text-align: center;
  sup {
    font-style: italic;
    text-align: right;
  }
}

.tfb-cheatsheet-list-of-searchbangs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  kbd {
    outline: 1px solid white;
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: help;
  }
}

.tfb-unclickable-button {
  display: inline-block;
  font-size: 2rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  outline: 2px solid var(--text-color);
  padding: 0.75rem;
  cursor: pointer;
  width: max-content;
  height: min-content;
  position: absolute;
  animation: buttonHop 0.75s steps(2) infinite;
}

@keyframes buttonHop {
  100% {
    transform: translateY(1rem);
  }
}

.tfb-unclickable-button.tfb-unclickable-button-justify-start {
  justify-self: start;
}
.tfb-unclickable-button.tfb-unclickable-button-justify-center {
  justify-self: center;
}
.tfb-unclickable-button.tfb-unclickable-button-justify-end {
  justify-self: end;
}

.tfb-unclickable-button.tfb-unclickable-button-align-start {
  align-self: start;
}
.tfb-unclickable-button.tfb-unclickable-button-align-center {
  align-self: center;
}
.tfb-unclickable-button.tfb-unclickable-button-align-end {
  align-self: end;
}
