.the-fun-box {
  grid-area: fun-box;

  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 2rem;
  display: grid;
  transition: 0.8s ease;
  position: relative;
}

/*
  You might think that these names are too long for a css selector and i should shorten them. 
  Something like .cheatsheet

  And, if the world was a perfect place, i would agree. 

  Unfortunately, the world includes many third packages that dont properly scope their classes in a realistic work enviroment. 
  Not to mention the fact that on large projects, it can be near impossible to know if anywhere else in the page there is another class of an equal name. 
  
  I'd rather have very long and incredibly specific selectors, to guarantee that the css i write is contained where it needs to be contained.

  (yes i am fully aware that i am making this project with the specific intent of avoiding any extra libraries. Its just common practice for me)
*/

.tfb-control-menu {
  position: absolute;
  right: -2rem;
  top: -2.5rem;
  display: flex;
  gap: 0.5rem;
}

.tfb-control-button,
.tfb-tips-container-close,
.tfb-tips-container-next-tip,
.tfb-tips-bang {
  background-color: var(--header-color);
  padding: 0.5rem;
  border: 0.1rem solid var(--text-color);
  color: var(--text-color);
  transition: 0.1s ease;
  cursor: pointer;
  &:hover,
  &:focus,
  &:focus-visible {
    outline: 0.1rem solid white;
    outline-offset: 0.25rem;
    color: white;
  }
  &:active {
    outline-offset: 0;
    outline: 0.1rem solid white;
    color: white;
  }
}

.tfb-tips-container {
  border: 1px solid var(--text-color-opaque);
  height: 100%;
  width: 100%;
}

.tfb-tips-container-close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.tfb-tips-container-next-tip {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

.tfb-tips-bangs-grid {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-areas: "title title" "paragraph list" "paragraph description" "paragraph example";
  grid-template-rows: min-content min-content min-content 1fr;
  gap: 0.5rem;
}

.tfb-tips-bangs-title,
.tfb-tips-bangs-paragraph,
.tfb-tips-bangs-description,
.tfb-tips-bangs-example,
.tfb-tips-bangs-example-pre-text {
  margin: 0;
  padding: 0;
}

.tfb-tips-bangs-title {
  grid-area: title;
  padding-left: 0.5rem;
}

.tfb-tips-bangs-paragraph {
  grid-area: paragraph;
  font-size: 1.25rem;
  padding: 0 1rem;
  box-sizing: border-box;
  max-width: 70ch;
  align-self: center;
}

.tfb-tips-bangs-link {
  text-decoration: underline;
  color: var(--text-color);
  transition: 0.1s ease;
  cursor: pointer;
  &:hover,
  &:focus,
  &:focus-visible {
    outline: 0.1rem solid white;
    outline-offset: 0.25rem;
    color: white;
  }
  &:active {
    outline-offset: 0;
    outline: 0.1rem solid white;
    color: white;
  }
}

.tfb-tips-bangs {
  grid-area: list;
  display: flex;
  gap: 1rem;
  height: min-content;
  padding: 0 0.5rem;
}
.tfb-tips-bang {
  padding: 0.5rem 1rem;
}
.tfb-tips-bangs-description {
  grid-area: description;
  font-size: 1rem;
  padding: 1rem;
}

.tfb-tips-bangs-example {
  grid-area: example;
  justify-self: center;
  padding: 1rem;
}

.tfb-simple-tips {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
}
.tfb-simple-tips-title,
.tfb-simple-tips-text {
  margin: 0;
  padding: 0;
}
.tfb-simple-tips-title {
  font-size: 1.5rem;
}
.tfb-simple-tips-text {
  font-size: 1.25rem;
}

.tfb-button {
  display: inline-block;
  font-size: 2rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  outline: 2px solid var(--text-color);
  padding: 0.75rem;
  cursor: pointer;
  width: max-content;
  height: min-content;
  position: absolute;
  animation: buttonHop 0.75s steps(2) infinite;
}

.tfb-speedrun-button-background {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12rem;
  user-select: none;
  opacity: 0.7;
}

.tfb-speedrun-button-background[data-time-left="0"],
.tfb-speedrun-button-background[data-time-left="-1"] {
  opacity: 0;
}

.tfb-speedrun-button-background[data-time-left="1"] {
  color: red;
}

.tfb-speedrun-endscreen {
  margin: 0;
  padding: 0;
  align-self: center;
  justify-self: center;
  text-align: center;
  button {
    position: relative;
  }
}

@keyframes buttonHop {
  100% {
    transform: translateY(1rem);
  }
}

.tfb-button-justify-start {
  justify-self: start;
}
.tfb-button-justify-center {
  justify-self: center;
}
.tfb-button-justify-end {
  justify-self: end;
}

.tfb-button-align-start {
  align-self: start;
}
.tfb-button-align-center {
  align-self: center;
}
.tfb-button-align-end {
  align-self: end;
}
