.typewriter-container {
  width: 100%;
}
/*
  Thanks to Temani Afif (https://dev.to/afif/a-multi-line-css-only-typewriter-effect-3op3)
*/
.typewriter {
  color: transparent;
  font-family: monospace;
  font-size: clamp(0.5rem, 3vw + 1rem, 4rem);
  background: linear-gradient(-90deg, var(--text-color) 1px, transparent 0) 0 0,
    linear-gradient(var(--text-color) 0 0) 0 0;
  background-size: calc(var(--string-length) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  padding: 0 2px; //important to allow the caret to exist
  background-repeat: no-repeat;
  animation: caret 1s steps(1) infinite,
    typeText calc(var(--string-length) * 0.1s) steps(var(--string-length))
      forwards;
  &.typewriter-delete {
    animation: caret 1s steps(1) infinite,
      deleteText calc(var(--string-length) * 0.1s) steps(var(--string-length))
        forwards;
  }
  &::after {
    content: " ";
    display: inline-block;
  }
}

@keyframes typeText {
  from {
    background-size: 0 200%;
  }
  to {
    background-size: calc(100% - 1px) 200%;
  }
}

@keyframes deleteText {
  from {
    background-size: calc(100% - 1px) 200%;
  }
  to {
    background-size: 1px 200%;
  }
}

@keyframes caret {
  50% {
    background-position: 0 -100%, 0 0;
  }
}
