.typewriter-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}
/*
  Thanks to Temani Afif (https://dev.to/afif/a-multi-line-css-only-typewriter-effect-3op3)

  In hindsight, considering i am using scss, i would probably use this library instead: https://github.com/brandonmcconnell/typed.css
  But i'm going to try to make it work with my implementation 
*/

.typewriter {
  margin: 0;
  padding: 0;
  --hacker-green-color: #5dc337;
  color: transparent;
  font-family: "Unifont", monospace;
  font-size: 3rem;
  background: linear-gradient(
        -90deg,
        var(--hacker-green-color) 0.1rem,
        transparent 0
      )
      0 0,
    linear-gradient(var(--hacker-green-color) 0 0) 0 0;

  background-size: calc(var(--string-length) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: caret 0.8s steps(1) infinite,
    typeText var(--typewriter-time) steps(var(--string-length)) forwards;
  &.typewriter-delete {
    animation: caret 0.8s steps(1) infinite,
      deleteText var(--typewriter-time) steps(var(--string-length)) forwards;
  }
}

@keyframes typeText {
  from {
    background-size: 0 200%;
  }
}

@keyframes deleteText {
  to {
    background-size: 0 200%;
  }
}

@keyframes caret {
  50% {
    background-position: 0 -100%, 0 0;
  }
}
